.propdetails{
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 20px;
}

.amenity-categories {
    width: 240px;
    border: 1px solid #ccc;
    /* padding: 10px; */
    font-size: 16px;
    /* font-weight: 600; */
    position: relative;
}

.amenity-category{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding: 20px 10px;
}

.amenity-option{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    padding-left: 20px;
    width: 800px;
    padding: 10px;
    border-top: 1px solid #ccc;
    padding-top: 30px;
    padding-bottom: 30px;
    border-right: 1px solid #ccc;
}

.amenspan{
    content: " ";
    position: absolute;
    right: -20px;
    /* top: calc(50% - 8px); */
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent transparent #3543bf;
    width: 20px;
}

.amenity-option label{
    margin: 0;
}

.amenity-option input {
    width: 40px;
}

.selected{
    background-color: #3543bf;
    color: #fff;
}

.foodservicestag{
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.isfood{
    border: 1px solid #ccc;
    padding: 40px 20px;
}

.isfoodavaialable{
    display: flex;
    gap: 300px;
}

.isfoodavailablebtns{
    display: flex;
}

.isfoodavailablebtns button{
    border: 1px solid #ccc;
    padding: 10px;
    width: 60px;
}

.isfoodactive{
    background-color: rgb(53, 67, 191);
    color: #fff;
}

.addrestuarant{
    background-color: #f4f4f4;
    border-radius: 4px;
    padding: 20px;
    margin-top: 30px;
}

.addrestuarant button{
    color: rgb(53, 67, 191);
}

.foodpolicies{
    margin-top: 30px;
}

.foodpolic1{
    display: flex;
    gap: 300px;
    padding: 40px 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.Step{
    background-color: transparent;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.existingroomtab{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.roomsheading{
    width: 1000px;
}

.addnewroomdiv{
    background-color: #fff;
    padding: 40px 20px;
    margin-top: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}