/* src/App.css */
.App {
    /* text-align: center; */
    max-width: 1000px;
    margin: auto;
    display: flex;
  }

  .App h1{
    font-size: 32px;
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
  }
  
  .activity-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .activity-card {
    position: relative;
    width: 300px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
    min-height: 310px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .activity-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .activity-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .activity-card p {
    font-size: 14px;
    color: #555;
  }
  .card-icons {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    cursor: pointer;
    bottom: -5px;
  }
  
  .edit-icon,
  .delete-icon {
    font-size: 20px;
    color: #333;
    transition: color 0.3s ease-in-out;
  }
  
  .edit-icon:hover,
  .delete-icon:hover {
    color: #ff5733; /* Change color on hover */
  }